<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /
  
  # Pokud soubor nebo adresář existuje, servíruj ho přímo
  RewriteCond %{REQUEST_FILENAME} -f [OR]
  RewriteCond %{REQUEST_FILENAME} -d
  RewriteRule ^ - [L]

  # Vše ostatní pošli na index.html (pro React Router)
  RewriteRule ^ index.html [L]
</IfModule>

<IfModule mod_mime.c>
  AddType application/javascript .js
  AddType application/javascript .mjs
</IfModule>
